:root {
    --main-padding: 0px 75px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    min-height: 100vh;
    height: 100%;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
    height: 100vh;
}

.nav-bar {
    display: flex;
    justify-content: start;
    align-items: center;
    font-weight: 700;
    font-size: 2.5rem;
    padding-top: 15px;
    padding-bottom: 15px;
    padding: 15px 75px;
    background: #0174DF;
    color: #FFFFFF;
}

.info-container {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    padding: var(--main-padding);
}

.add-book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

.form-header {
    font-size: 3rem;
    font-weight: 700;
    color: #0174DF;
}

.input-element {
    display: flex;
    gap: 30px;
}

.input-label-text {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 75px;
    font-size: 1.5rem;
    color: #435FA7;
    font-weight: 700;
}



.form-container {
    display: flex;
    gap: 35px;
    flex-direction: column;
}

.book-information-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
}

.table-container {
    display: grid;
    width: clamp(700px, 900px, 900px);
    height: clamp(300px, 500px, 500px);
    grid-template-rows: repeat(7, 0.15fr);
    background: #0174DF;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 3px rgb(187, 187, 187);
}

.table-heading-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-size: 2rem;
    font-weight: 800;
}

.table-heading-container {
    display: grid;
    grid-template-columns: repeat(2, 0.3fr) 0.2fr 0.2fr;
}

.information-element-container {
    display: grid;
    background: white;
    grid-template-columns: repeat(2, 0.3fr) repeat(2, 0.2fr);
    border-bottom: 2px solid #ABBCFA;
}

.field-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 700;
}

input {
    display: flex;
    padding: 10px;
    width: 275px;
    height: 35px;
    background: #F2F6FF;
    border: none;
    font-size: 1.2rem;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 3px rgb(187, 187, 187);
}

.read-selection-input {
    display: flex;
    padding: 10px;
    width: 295px;
    height: 55px;
    background: #F2F6FF;
    border: none;
    font-size: 1.2rem;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 3px rgb(187, 187, 187);
}

.submit-book-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit-form {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #0066FF;
    color: #FFFFFF;
    padding: 12.5px 40px;
    font-size: 1.8rem;
    border-radius: 12px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 0px 5px 3px rgb(187, 187, 187);
}

input:focus {
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px 3px #3686ff;
}

.read-selection-input:focus {
    outline: none;
    border: none;
    box-shadow: 0px 0px 5px 3px #3686ff;
}

.submit-form:hover {
    background: #0048b5;
}